/* Navigation bar */
nav {
    background-color: var(--background-color);
    padding: 20px;
    z-index: 999;
    top: 0;
    position: sticky;
}

.nav-item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav-link {
    color: var(--text-color-primary);
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: var(--hover-color);
    padding: 10px 20px;
    border-radius: 10px;
}

/* Hero Section */
